@using MvcApp.Models
@model IEnumerable<MvcApp.Models.Program>

@{
	ViewBag.Title = "Program";
}

<h2>Program</h2>
<div class="column2">
	<div class="table-responsive">
		@if (Model.Count > 0)
		{
			<table class="table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				
					@foreach (Program program in Model)
					{
						<tr>
							<td>@program.Name</td>
							<td>@program.Description</td>
							<td>
								<span class="btn btn-default">Edit</span>
								<span class="btn btn-default">Delete</span>
							</td>
						</tr>
					}
				
				</tbody>

			</table>
		}
		else
		{
			<div>No Prorgams are Available. Please click "AddProgram" to add.</div>
		}
	</div>
</div>